/* Pretendard 폰트 정의 */
@font-face {
  font-family: 'Pretendard';
  src: url('../public/assets/fonts/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/assets/fonts/Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/assets/fonts/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/assets/fonts/Pretendard-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

/* 기본 폰트 스타일 설정 */
body {
  margin: 0;
  font-family: 'Pretendard', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
